<div class="row">
    <div class="col-4">
        <div class="card mt-2">
            <div class="card-header">{{ title }}</div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

