{% extends 'base.html.twig' %}

{% import 'marcos/common.html.twig' as common %}
{% block title %}Repo{% endblock %}

{% block body %}
    <div data-uuid="{{ repo.uuid }}" data-asset-url="{{ asset('repo/'~repo.uuid~'/metrics.json') }}"></div>
    <div class="cards-container">
        {{ common.graphCard('small-multiples', repo.url) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('biplot') }}
    {{ encore_entry_link_tags('biplot') }}
{% endblock %}
