{% extends 'base.html.twig' %}

{% block title %}Repo index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fa-brands fa-github me-1"></i>
                    Repository Index
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(repos, 'Url', 'url') }}</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repo in repos %}
                            <tr>
                                <td>{{ repo.url }}</td>
                                <td>
                                    <a href="{{ path('app_dashboard_small_multiples', {'id': repo.id}) }}"><i class="fa-solid fa-chart-line"></i></a>
                                    <a href="{{ path('app_dashboard_small_multiples', {'id': repo.id}) }}"><i class="fa-solid fa-repeat"></i></a>
                                    {{ include('repo/_delete_form.html.twig', {repo: repo}) }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(repos) }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_repo_new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
